<!DOCTYPE html>
<html lang="en">
<head>
    <header>
        <title>{% block title %}{% endblock %}</title>
        <nav>
            <p style="float: right">
                <a href="#"> Home</a>|
                <a href="#"> About</a>|
                <a href="#"> Contact Us</a>|
                <a href="#"> Terms of srevices</a>
            </p>
        </nav>
    </header>
    <style type="text/css">
         body {
            background-color: rgb(32, 231, 5);
         }
         header {
            color:rgb(245, 12, 101)
         } 
         footer 
         {
            color:blueviolet
         }
    </style>
</head> 
<body>
    {% block body %}{% endblock %}
</body>
<br/>
<br/>
<br/>   
</html>
<br/>
<br/>
<br/>
<center>
    <footer>
        @Angel 2022<br/>
        <strong>All rights reserved</strong>
    </footer>
</center>