{% extends "base.html" %}
{% block title %}Welcome to web development{% endblock %}
{% block body %}
{% block head %}<center><h1>DAILY QUOTES FOR YOU</h1></center>{% endblock %}
<p><h3>Visit us daily for inspirational quotes</h3></p><br>
<p><h2>Quote 1</h2></p>
<p> "When you have a dream, you've got to grab it and never let go" </p><br/>
By: <i>Carol Burnrtt</i>
<p><h2>Quote 2</h2></p>
<p> "Nothing is impossible. The word itself says i'm possible"</p>
By: <i>Audry Hepburn</i>


{% endblock %}