{% extends "base.html" %}
{% block title %}sign in{% endblock %}
{% block body %}
<header><center><h1>SIGN UP HERE</h1></center></header>
<form action="sample-page-handler.html" method="GET">
    <input type="text" name="First Name" placeholder="enter your first name"/><br/><br/>
    <input type="text" name="Last Name" placeholder="enter your last name"/><br/><br/>
    <input type="text" name="Email Address" placeholder="enter your email address"/><br/><br/>
    <input type="text" name="Password" placeholder="enter Password"/><br/><br/>
    <input type="text" name="Confirm Password" placeholder="confirm Password"/><br/><br/>
    <input type="submit"/>
    {% endblock %}